# Changes here will be overwritten by Copier; NEVER EDIT MANUALLY
_commit: {{ _copier_conf.vcs_ref_hash }}
_src_path: {{ _copier_conf.src_path }}
author_email: {{ author_email }}
author_name: {{ author_name }}
codecov_token: {{ codecov_token }}
github_username: {{ github_username }}
include_docs: {{ include_docs }}
include_hypothesis: {{ include_hypothesis }}
include_numpy: {{ include_numpy }}
include_pandas_support: {{ include_pandas_support }}
license: {{ license }}
package_name: {{ package_name }}
project_description: {{ project_description }}
project_name: {{ project_name }}
project_slug: {{ project_slug }}
python_min_version: '{{ python_min_version }}'
